@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grid-color: #e5e7eb;
  --legend-color: #9ca3af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --grid-color: #1f2937;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.btn-round {
  @apply p-2 rounded-full bg-gray-200 hover:bg-gray-300 dark:bg-gray-900 dark:hover:bg-gray-800;
}

.bubble {
  @apply px-4 py-2 rounded-full bg-background/30 shadow-md backdrop-blur-md;
}

@utility head-px {
  @apply px-4 xl:px-6;
}

.input {
  @apply p-2 inset-shadow-sm rounded-md bg-gray-50 dark:bg-gray-900;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  @apply opacity-20;
}
